@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@layer base {
	:root {
		--background: 0 0% 0%;
		--foreground: 0 0% 100%;

		--muted: 217 0% 50%;
		--muted-foreground: 0 0% 50%;

		--popover: 0 0% 4%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 0 0% 100%;
		--input: 0 0% 15%;

		--primary: 210 40% 98%;
		--primary-foreground: 0 0% 4%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 0 0% 4%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 217.2 32.6% 17.5%;
	}
}

* {
	font-family: var(--font-inter);
}

*::-webkit-scrollbar {
	display: none;
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
	h1 {
		@apply text-4xl
	}
	h2 {
		@apply text-3xl
	}
	h3 {
		@apply text-2xl
	}
	h4 {
		@apply text-xl
	}
	h5 {
		@apply text-lg
	}
	h6 {
		@apply text-base
	}
	p,span,li {
		@apply text-sm
	}
}
